<ul class="nav nav-pills my-4">
    <li class="nav-item">
        <a class="nav-link{% if menu == 1 %} active{% endif %}" href="/">ID降順</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if menu == 2 %} active{% endif %}" href="/rank">RANK降順</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if menu == 3 %} active{% endif %}" href="/radom">ランダム</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if menu == 4 %} active{% endif %}" href="/upload">アップロード</a>
    </li>
</ul>