{% extends 'base.html' %}
{% block content %}
<h1 class="my-4" id="page-top">動画一覧 <small class="text-muted" id="count">{{num}}</small></h1>

{% include 'include_menu.html' %}

{% csrf_token %}

{% for v in lst %}
<div class="mb-5">
    <div class="mb-2 d-flex justify-content-between align-items-center">
        <div>
            {% if v.rank == 10 %}
            ⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐
            {% elif v.rank == 9 %}
            ⭐⭐⭐⭐⭐⭐⭐⭐⭐★
            {% elif v.rank == 8 %}
            ⭐⭐⭐⭐⭐⭐⭐⭐★★
            {% elif v.rank == 7 %}
            ⭐⭐⭐⭐⭐⭐⭐★★★
            {% elif v.rank == 6 %}
            ⭐⭐⭐⭐⭐⭐★★★★
            {% elif v.rank == 5 %}
            ⭐⭐⭐⭐⭐★★★★★
            {% elif v.rank == 4 %}
            ⭐⭐⭐⭐★★★★★★
            {% elif v.rank == 3 %}
            ⭐⭐⭐★★★★★★★
            {% elif v.rank == 2 %}
            ⭐⭐★★★★★★★★
            {% elif v.rank == 1 %}
            ⭐★★★★★★★★★
            {% else %}
            ★★★★★★★★★★
            {% endif %}
        </div>
        <div>
            <select id="select_{{v.name}}">
                <option value="{{v.rank}}">{{v.rank}}</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>

            <button class="btn btn-sm btn-outline-primary evaluation" data-name="{{v.name}}">評価</button>
            <button class="btn btn-sm btn-outline-warning del" data-name="{{v.name}}">削除</button>

        </div>
    </div>
    <div>
        <img class="lazyload thumb" data-src="/media/thumbnail/{{v.name}}.jpg" data-name="{{v.name}}">
    </div>
</div>
{% endfor %}

<div class="d-grid my-4">
    <a class="btn btn-primary" href="#page-top">ページトップへ戻る</a>
</div>

<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <video controls muted width="100%" id="video" src=""></video>
            </div>
            <div class="modal-footer">
                <p class="text-dark" id="uid"></p>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}