{% extends 'base.html' %}
{% block content %}
<h1 class="my-4" id="page-top">動画一覧 <small class="text-muted" id="count">{{num}}</small></h1>

<ul class="nav nav-pills my-4">
    <li class="nav-item">
        <a class="nav-link{% if sort_id %} active{% endif %}" href="/">ID降順</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if sort_rank %} active{% endif %}" href="/rank">RANK降順</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if sort_radom %} active{% endif %}" href="/radom">ランダム</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/upload">アップロード</a>
    </li>
</ul>

{% for v in lst %}
<div class="d-flex align-items-center gap-3 mb-3">
    <div style="width: 85%;">
        <img class="lazyload" data-src="/media/thumbnail/{{v.name}}.jpg" data-name="{{v.name}}">
    </div>
    <div style="width: 5%;">
        <select id="select_{{v.name}}">
            <option value="{{v.rank}}">{{v.rank}}</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <div style="width: 5%;">
        <button class="btn btn btn-outline-primary evaluation" data-name="{{v.name}}">評価</button>
    </div>
    <div style="width: 5%;">
        <button class="btn btn btn-outline-warning del" data-name="{{v.name}}">削除</button>
    </div>
</div>
{% endfor %}

<div class="d-grid my-4">
    <a class="btn btn-primary" href="#page-top">ページトップへ戻る</a>
</div>

<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <video controls muted width="100%" id="video" src=""></video>
            </div>
            <div class="modal-footer">
                <p class="text-dark" id="uid"></p>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
