{% extends 'base.html' %}
{% block content %}

<h1 class="my-4">動画アップロード</h1>

<ul class="nav nav-pills my-4">
    <li class="nav-item">
        <a class="nav-link" href="/">ID降順</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/rank">RANK降順</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/radom">ランダム</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/upload">アップロード</a>
    </li>
</ul>

<form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label for="fileID" class="col-form-label">動画ファイルを選択</label>
        </div>
        <div class="col-auto">
            <input type="file" name="upfile" id="fileID" class="form-control" multiple="multiple" accept=".mp4">
        </div>
        <div class="col-auto">
            <button class="btn btn-secondary" type="submit">アップロード</button>
        </div>
    </div>
</form>
{% endblock %}
